RUNNER_REPO_URL=https://github.com/OWNER/REPO
RUNNER_TOKEN=REPLACE_WITH_GITHUB_RUNNER_REGISTRATION_TOKEN
RUNNER_NAME=isotailor-runner-1
RUNNER_LABELS=self-hosted,linux,x64,isotailor
RUNNER_WORKDIR=_work
RUNNER_EPHEMERAL=1
RUNNER_HEALTH_SERVER=1
RUNNER_HEALTH_PORT=8080
